body{
    background-color: #eff6f9 !important;
}
.padding-medium{
    padding: 40px;
}
.padding-title-center{
    padding: 20px 0px 20px 0px;
}
.row-limited{
    width: 100%;
    max-width: 1100px;
}
.header-apresentation{
    background-color: transparent;
    background-image:  url('../assets/HEADER_DESKTOP_2021.jpg');
    background-color: #eff6f9;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-attachment: scroll;
    background-size: initial!important;
    border: 0;
    min-height: 35rem;
    display: block;
    margin: 0px;
    padding: 0px;
}
.logo-middle{
    position: relative;
    top:0;
    left: 0;
}
.logo-middle > div{
    position: absolute; 
    left: -60px;
    top: 50%;
}
.stone-r{
    position: relative;
    left: 190px;
    top: 70px;
}

.logo-composer{
    position: relative;
    top:-50px;
    left: 0;
}
.background-sec{
    background-color: #68c4eb;
    color: #eff6f9;
    background-image: none;
    display: block;
}
.background-white{
    background-color: #fff;
}
.background-sec-morb{
    background-color: #e3eff8;
}
.background-sec h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}
.baby-doe-img{
    width: 700px !important;
}
.ul-lister{
    color: #6d6d6d;
    font-family: 'Lato', sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0;
}
.img-buttom-i-want{
    width: 80%;
}
.container-personalized {
    height: 100%;
    max-height: 500px;
    position: relative;
}
  
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
.background-pink{
    background-color: #fad7cc;
}

img.img-title-20k{
    width: 100%;
    max-width: 200px;
}
h1.title-rsam{
    padding-top: 10px;
    text-align: center;
    font-size: 2.25rem;
    color: #ff5f00;
}
p.title-rsam{
    padding-top: 10px;
    text-align: center;
    color: #ff5f00;
    font-weight: bold;
}
p.p-description-rsam{
    text-align: center;
    padding: 0px 20px 0px 20px;
}
img.img-famors-mos{
    width: 100%;
}

.layer_5{
    width: 100%;
}
.w100p100{
    width: 100%;
}

.icon-imagem-baby{
    height: 76.4375rem;
    width: 60rem;
}
.divider-b1{
    width: 80%;
    height: .3125rem;
    background-color: #e3e3e3;
    margin: 20px 0px 20px 0px;
}
.txt-listehe{
    font-size: .75rem;
    font-weight: 700;
}
.txt-tirleo{
    font-size: .8125rem;
}

.background-gray-dark{
    background-color: #2f2f2f;
}
.background-gray-dark h1{
    text-align: center;
    text-align-last: center;
    font-size: 1.875rem;
    line-height: 1.2;
    color: #ffbe00;
    font-weight: 700;
    font-family: ubuntu;
}

@media only screen and (max-width: 763px){
    .header-apresentation{
        background-image: url('../assets/HEADER_MOBILE_2021.jpg');
        background-position: bottom center!important;
        background-size: cover!important;
        border: 0;
        min-height: 20rem;
        
    }
    .baby-doe-img{
        width: 100% !important;
    }
    .ul-lister{
        
    font-size: .8125rem;
    }

    .background-sec h1{
        font-size: 25px;
    }

    .print{
        width: 80%;
        box-shadow: 0.0625rem 0.0625rem 0.625rem rgb(0 0 0 / 30%);
        margin-top: 30px;
    }

    .grid-img{
        width: 80%;
        margin-top: 30px;
    }

    h1.title-rsam{
        font-size: 1.625rem;
    }
    p.title-rsam{
        font-size: 1.625rem;


    }
    .logo-02{
        width: 60%;
    }
    .description-settr{
        font-size: 14px;
        padding: 0px 20px 0px 20px;
    }

    .icon-imagem-baby{
        width: 7.3125rem;
        height: 5.6875rem;
        margin-bottom: 18px;
    }
    .icon-imagem-older{
        width: 4.6875rem;
    height: 7.5rem;
    margin-bottom: 18px;
    }

    .w350-lieem{
        width: 350px !important;
    }
    .w300-lieem{
        width: 300px !important;
    }
    .w250-lieem{
        width: 250px !important;
    }
}
