@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    padding: 0;
    color: #111;
    margin: 0;
    width: 100%;
    background-color: #f9f9f9;
}
body a {
    box-shadow: none;
    text-decoration: none;
}
body a:hover{
    color: #FFF;
}
ul {
    list-style-type: none;
}
p{
    text-align: center;
    color: rgba(0,0,0,0.9);
    font-size: 18px;
    font-weight: 400;
}

footer{
    padding: 10px;
    background-color: rgba(0,0,0,0.8);
}
span.w{
    color: #e60e0e;
}
span.b{
    color: #151515;
}
span.underline{
    text-decoration: underline;
}
.padding-10{
    padding: 10px;
}
.no-margin{
    margin: 0px !important;
}
.m-top-20{
    margin-top: 20px;
}
.m-top-30{
    margin-top: 30px;
}
.p-top-20{
    padding-top: 20px;
}
.p-bot-20{
    padding-bottom: 20px;
}
.p-top-30{
    padding-top: 30px;
}
.p-bot-30{
    padding-bottom: 30px;
}
.img-banner{
    width:100%;
    max-width: 700px;
    padding: 10px;

}
.element-100p100{
    width: 100%;
}
.elementor-heading-title {
    max-width: 80%;
    color: #ffffff;
    font-family: "Arial", Sans-serif;
    font-size: 45px;
    line-height: 1.3em;
    letter-spacing: 0px;
    text-align: center;
    font-weight: 700;
}
.elementor-fit-aspect-ratio iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 0;
    background-color: #000;
}
.elementor embed, .elementor iframe, .elementor object, .elementor video {
    max-width: 100%;
    width: 100%;
    margin: 0;
    line-height: 1;
    border: none;
}
.esconder {
    display: none;
}
.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg, #00A688 0%, #00A764 100%);
}
.iframe-video-main{
    max-width: 100%;
    width: 100%;
    margin: 0;
    line-height: 1;
    border: none;
    height: 100%;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.element-div-centerlized{
    width: max-content;
}
.w-max-d{
    width: 1140px;
}
img.wp-smiley, img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 0.07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}
.element-subtitle p{
    font-size: 25px;
}
.element-header-sec-2{
    padding: 20px 0px 20px 0px;
}
.element-header-sec-2 h3{
    text-align: center;
    color: rgba(0,0,0,0.87);
    font-size: 25px;
}
a.elementor-button {
    
    background-color: #FF7F00;
    border-radius: 70px 70px 70px 70px;
    box-shadow: 2px 3px 0px 1px #bf6600;
    padding: 20px 40px;
    width: auto;
    font-weight: 500;
}
.elementor-button > h3{
    fill: #ffffff;
    color: #ffffff;
    font-size: 40px;
    padding: 0;
    margin: 0;
    text-align: center;
}
.align-t-center{
    text-align: center;
}
p.title-price{
    
    column-gap: 0px;
    text-align: center;
    color: #000000;
    font-size: 35px;
    letter-spacing: 0px;
    margin-bottom: 5px;

}
p.subtitle-price{
    text-align: center;
    color: rgba(0,0,0,0.69);
    font-size: 23px;
}
.destac-title{
    margin: 50px 0px 50px 0px;
}
.destac-title p{
    
    text-align: center;
    color: #C90000;
    font-family: "Arial", Sans-serif;
    font-size: 35px;
    line-height: 1.5em;
}
.d-text-description{
    padding: 18px;
    width: 100%;
    max-width: 1100px;
}
.d-text-description p{
    text-align: left;
    color: rgba(0,0,0,0.93);
    font-size: 18px;
    font-family: 'Robot',sans-serif;
}
.d-img-description{
    padding: 16px;
}
.d-img-description img{
    width: 100%;
}
.d-text-quote{
    text-align: center;
    text-align: center;
    
   
}
.d-text-quote>p{
    font-size: 25px;
    color: #1c3e40;
}
.content-m-text{
    max-width: 1100px;
}
.video-borded{
    width: 100%;
    height: 100%;
    padding: 1px;
    border-style: solid;
    border-color: #ffffff;
    box-shadow: 0px 1px 5px 1px rgb(0 0 0 / 96%);
}
.img-message-print{
    margin: 5px;
    width: 100%;
}
.img-message-print-p{
    width: 60% !important;
}
.img-radius-light{
    margin-top: 10px;
    width: 60% !important;
}
.row-limited{
    width: 100%;
    max-width: 1100px;
}


.d-content-dem{
    background-color: #00A59B;
}
.d-content-dem-gradient{
    padding-bottom: 25px;
    margin-bottom: 25px;
    background-color: transparent;
    background-image: linear-gradient(180deg, #00A59B 0%, #00A764 100%);
}
.d-content-dem .destac-title p{
    
    text-align: center;
    color: #fff;
    font-family: "Arial", Sans-serif;
    font-size: 35px;
    line-height: 1.5em;
}
h4.elementor-image-box-title{
    margin-top: 15px;
    margin-bottom: 0px;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
}
.elementor-list-p p{
    text-align: center;
    color: rgba(0,0,0,0.93);
    font-size: 22px;
}
p.low-descr{
    text-align: center;
    color: #111111;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Robot',Sans-serif;
    
}
img.img-level-inform{
    width: 70%;
}
.elementor-level-inform{
    padding: 10px;
}
.elementor-level-inform h3{
    color: #000000e3;
    font-size: 25px;
}
.elementor-level-inform h6{
    color: #000000e3;
    font-family: "Roboto", Sans-serif;
    font-size: 22px;
    margin-bottom: 20px;
}
.elementor-level-inform p{
    color: #000000d6;
    font-size: 18px;
    text-align: left;
    font-family: "Roboto", Sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    
}
.p-list p{
    margin: 5px 0px 5px 0px;
}
.p-list-result p{
    color: rgba(0,0,0,0.89);
    font-size: 28px;
}

.infor-blank-gradient p{
    font-family: 'Robot',sans-serif;
    text-align: center;
    color: #ffffff;
    font-size: 26px;
}

.element-p-subet01{
    font-size: 20px;
    font-family: 'Robot',sans-serif;

}

.element-p-supet01{
    text-align: center;
    color: #f20000;
    font-size: 50px;
}
.element-p-subet02{
    text-align: center;
    color: rgba(0,0,0,0.87);
    font-size: 23px;
}
.element-p-supet02{
    text-align: center;
    color: #000000;
    font-size: 60px;
}

.element-p-sub-trew{
    text-align: center;
    color: rgba(0,0,0,0.69);
    font-size: 23px;
}
.img-garantia{
    max-width: 50%;
    vertical-align: middle;
    display: inline-block;
}

p.title-garanti{
    text-align: center;
    color: rgba(0,0,0,0.89);
    font-size: 25px;
    margin-bottom: 20px;

}
.description-garant p{
    text-align: left;
    color: rgba(0,0,0,0.84);
    font-size: 18px;
    font-family: 'Robot',sans-serif;
}
.question{
    width: 100%;
    margin-bottom: 20px;
}
.question h4{
    color: #1c3e40;
    font-size: 24px;
    font-family: 'Robot',sans-serif;
    line-height: 1;
    font-weight: 600;
}
.question p{
    margin: 20px 0px 20px 0px;
    text-align: left;
    font-family: 'Robot',sans-serif;
}
.infors-duv p
{
    text-align: center;
    color: rgba(0,0,0,0.92);
    font-size: 22px;
}
.whatsapp-nippet p{
    text-align: center;
    color: rgba(0,0,0,0.93);
    font-size: 35px;
}
.elementor-button-link-green{
    font-size: 20px;
    background-color: #00d343;
    border-radius: 40px 40px 40px 40px;
    box-shadow: 1px 2px 0px 1px #00a33e !important;
    padding: 15px 30px;
    color: #FFF;
    font-family: 'Robot',sans-serif;
}
a.elementor-button-link-green{
    box-shadow: none;
    text-decoration: none;
}
.esclarecimento{
    margin-top: 30px !important;
    padding: 10px;
    background-color: rgba(0,0,0,0.59);

}
.esclarecimento p{
    text-align: center;
    color: #ffffff;
    font-size: 15px;
}

.elementor-widget-container-footer{
    padding: 10px;
}

.elementor-widget-container-footer p{
    font-family: 'Robot',sans-serif;
    font-size: 22px;
    text-align: center;
    color: rgba(255,255,255,0.5);
    font-weight: 400;
}
.margin-0{
    margin: 0;
}

@media (max-width: 767px){
    .elementor-heading-title {
        max-width: 100%;
        font-size: 25px;
    }
    a.elementor-button{
        width: 90%;
    }
    a.elementor-button > h3{
        font-size: 25px !important;
    }

    p.title-price{
        font-size: 30px;
    }
    .destac-title{
        margin: 30px 0px 30px 0px;
    }
    .destac-title p{
        font-size: 24px;
        line-height: 1.5em;
    }
    .spacin-min{
        margin-top: 22px !important;
    }

    .img-message-print-p{
        width: 100% !important;
    }
    .d-content-dem .destac-title p{
        margin: 0px 10px 0px 10px;
        font-size: 25px;
        line-height: 1.5em;
    }
    .img-radius-light{
        width: 50% !important;
    }
    .infor-blank-gradient p{
        font-size: 24px;
    }
    .element-p-supet01{
        font-size: 40px;
    }
    
    .element-p-subet02{
        font-size: 20px;
    }
    .element-p-supet02{
        font-size: 45px;
    }
    .w-max-d{
        width: 95%;
    }
    .p-infor-audio{
        font-size: 13px;
    }
    
}